BotApp/faiss_index/index.faiss filter=lfs diff=lfs merge=lfs -text
faiss_index filter=lfs diff=lfs merge=lfs -text
faiss_index/* filter=lfs diff=lfs merge=lfs -text
Vector_Stores/** filter=lfs diff=lfs merge=lfs -text
Unique_Values/** filter=lfs diff=lfs merge=lfs -text
